# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Data tmp file
download/crypto/spot/
download/*/csv/
download/*/output/
download/future_us/data/

# Others, like tmp notes
experiments/future/FIXME.MD
experiments/stock/FIXME.MD
download/future_us/FIXME.MD
